@charset "utf-8";

h1{width: 125px;height: 30px;margin: 20px auto;
    background-image: url(../images/naver.png);}
h1 a{display: block;height: 30px;text-indent: -9999px;}

div.nav{width: 140px;height: 350px; margin: 0 auto;}
div.nav li{
    width: 140px;height: 50px;
    background-image: url(../images/top_gnb.png);
    background-repeat: no-repeat;_overflow: hidden;
    transition: 0.3s;}  
   
div.nav a{display: block;height: 50px;text-indent: -9999px;}
       
div.nav li:nth-child(1){background-position: 0 0;}
div.nav li:nth-child(2){background-position: 0 -50px;}
div.nav li:nth-child(3){background-position: 0 -100px;}
div.nav li:nth-child(4){background-position: 0 -150px;}
div.nav li:nth-child(5){background-position: 0 -200px;}
div.nav li:nth-child(6){background-position: 0 -250px;}
div.nav li:nth-child(7){background-position: 0 -300px;}


div.nav li:nth-child(1):hover{background-position: 0 -350px;}
div.nav li:nth-child(2):hover{background-position: 0 -400px;}
div.nav li:nth-child(3):hover{background-position: 0 -450px;}
div.nav li:nth-child(4):hover{background-position: 0 -500px;}
div.nav li:nth-child(5):hover{background-position: 0 -550px;}
div.nav li:nth-child(6):hover{background-position: 0 -600px;}
div.nav li:nth-child(7):hover{background-position: 0 -650px;}
    
div.nav li:nth-child(1).active{background-position: 0 -350px;}
div.nav li:nth-child(2).active{background-position: 0 -400px;}
div.nav li:nth-child(3).active{background-position: 0 -450px;}
div.nav li:nth-child(4).active{background-position: 0 -500px;}
div.nav li:nth-child(5).active{background-position: 0 -550px;}
div.nav li:nth-child(6).active{background-position: 0 -600px;}
div.nav li:nth-child(7).active{background-position: 0 -650px;}


.visual{width: 980px;margin: 20px auto;}
.visual .slide img{width: 100%;}
.bx-wrapper {
            -moz-box-shadow: 0 none;
            -webkit-box-shadow: 0 none;
            box-shadow: 0 none;
            border: 0 none;
            margin-bottom: 0;}

.subVisual{height: 200px; margin: 20px;
            display: flex; justify-content: center;
            align-items: center;}
.subVisual.topsub01{background: slateblue ;}
.subVisual.topsub02{background: tomato;}  